/* overall doc styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header styles */
header {
  padding: 24px 200px;
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
}

header h3 {
  color: #f9faf8;
  font-size: 24px;
}

header ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

header ul li a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/* main styles */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Hero styles */
section.hero {
  padding: 150px 200px;
  background-color: #1f2937;
  display: flex;
}

section.hero div {
  flex: 1;
}

section.hero .content h1 {
  font-size: 48px;
  color: #f9faf8;
}

section.hero div p {
  font-size: 18px;
  color: #e5e7eb;
}

section.hero div button {
  color: white;
  background-color: #3882f6;
  padding: 8px 32px;
  border: none;
  border-radius: 8px;
  margin-top: 12px;
}

section.hero .image-container {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.hero .image-container img {
  color: white;
}

/* Info styles */
section.info {
  margin: 0 300px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.info h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
  padding: 1em;
}

section.info .item-container {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.item .bordered-content {
  aspect-ratio: 1;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.item p {
  padding-top: 5px;
  text-align: center;
}

/* Quote styles */

/* action-call styles */

/* footer styles */
footer {
  padding: 24px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: white;
}
